.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.fade-y-enter-active,
.fade-y-leave-active {
  transition: all 0.5s;
}
.fade-y-enter-from{
  opacity: 0;
  transform: translateY(-10rem);
}
.fade-y-leave-to {
  opacity: 0;
  transform: translateY(10rem);
}


.translate-enter-active,
.translate-leave-active {
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}
.translate-enter-from{
  transform: translateX(-100%);
}
.translate-leave-to {
  transform: translateX(100%);
}


@keyframes rotating{
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg);
  }
}